# To be ignored by git
*~
.swp
bin
out
obj
*.bak
*.log
*.autosave
*.swp
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.so*
Makefile
*.user
*.pot
__pycache__

# CMake cache files
CMakeCache.txt
CMakeFiles/
*/CMakeFiles/
*/cmake_install.cmake
*/__/
cmake_install.cmake
install_manifest.txt
#po/Scriptor.desktop.in.h

# Build files
# backend/Scriptor/
# *_automoc.cpp
# app/Scriptor.desktop
# manifest.json
# moc_*
# qrc_*
